#about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #f4f6f8;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin {
  margin-top: 2rem;
}

.title {
  font-size: 2.5rem;
  margin: 10px;
}

.section__text__p1 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.section-container {
  gap: 20px;
  height: 80%;
  flex-direction: row;
}

.icon {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  align-self: center;
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-height {
  min-height: 400px;
}

.skill-card {
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.2s;
}

.skill-card:hover {
  transform: scale(1.05); /* Subtle hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-card h6 {
  font-size: 16px; /* Smaller title font size */
  font-weight: 600;
}

.skill-card .text-muted {
  font-size: 14px; /* Smaller label text */
  font-weight: 400;
}

/* NAVBAR */

.link {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s;
  text-transform: uppercase;
}
.link:hover {
  text-decoration: underline;
  text-underline-offset: 0.6rem;
}
.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
  border-top: 1px solid #000;
  padding-top: 0.5rem;
}
.nav-container {
  display: relative;
  padding: 1rem;
  width: 100vw;
  background-color: #f4f6f8;
}
.toggle {
  display: absolute;
  align-items: center;
  justify-content: center;
  color: #000;
  opacity: 1;
  border: none;
  margin: 0 auto;
}

.app-container {
  margin: 0;
  width: 100vw;
  background-color: #f4f6f8;
}
