.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #f4f6f8;
  text-align: center;
  height: 100vh;
}

.hero-profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.section__pic-container {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.section__text__p1 {
  font-size: 1.5rem;
  margin: 0;
}

.profile-description {
  font-size: 1.5rem;
}

.title {
  font-size: 2.5rem;
  margin: 10px 0;
}

.section__text__p2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  padding-top: 2rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
#socials-container img {
  width: 3rem;
  height: 3rem;
}

#socials-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  font-size: 1.3rem;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.btn-colour-2,
.btn-colour-1 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-colour-2:hover,
.btn-colour-1:hover {
  cursor: pointer;
  color: white;
}
.btn-colour-1,
.btn-colour-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-colour-1:hover {
  background: rgb(0, 0, 0);
}

.btn-colour-2 {
  background: none;
}

.btn-colour-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}
